/* .contato {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 1px;
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.botoes .editar {
    background-color: transparent;
    border: 0px;
}

.botoes .editar:hover {
    background-color: #E2E6EA;
    cursor: pointer;
}

.botoes .excluir {
    background-color: transparent;
    border: 0px;
}

.botoes .excluir:hover {
    background-color: #E2E6EA;
    cursor: pointer;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 1px;
} */

.contato ul {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.contato ul li {
   list-style: none; 
   color: #212529;
   font-family: 'Montserrat';
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
}

.contato ul li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 2px;
    gap: 2px;
}

.contato ul li button :hover {
    background-color: #c0c9d1;
}

#nome {
    max-width: 30px;
}

#telefone {
    padding-left: 12px;
}