.search-box {
    display: flex;
    margin: auto;
    width: 22.5rem;              /* largura do campo */
    padding: 8px 12px;          /* espaço interno */
    font-size: 16px;            /* tamanho da fonte */
    border: 1px solid #ccc;     /* borda cinza */
    border-radius: 4px;         /* cantos levemente arredondados */
    outline: none;              /* remove contorno padrão ao focar */
    }

.search-box:focus {
  border-color: #999;         /* borda mais escura ao focar */
}


